<!---

<p>perfil works!</p>


<div class="perfil">
    <h2> Nom complert: Alex Alias Ndiaye</h2>
    <p> Edat: -3 </p>
    <p> Llegué al club con el combo, rápido la vi lejos
Se pintaba los labios y la copa como espejo
Se acercó, poco a poco, y yo queriendo que me baile
Luego me dijo: Vamos, que te enseño Buenos Aire'

</p>

</div>


<div class="perfil">
<h2> Nom complert: Ongombo</h2>
    <p> Edat: veintisinco </p>
    <p> Owanitwa mos
Owanitwa mos
Pastor Master KG
Owanitwa mos
Jerusalema ikhaya lami
Ngilondoloze
Uhambe nami
Zungangishiyi lana
Jerusalema ikhaya lami
Ngilondoloze
Uhambe nami
Zungangishiyi lana
</p>


</div>

-->


<div class="perfil">
    <h2> Nom i cognom: {{alex.nom.toUpperCase()}} {{alex.cognom.toUpperCase()}}</h2>
    <p class="edat"> Edat: {{alex.edat}} </p>
    <p> Any de naixement: {{2026 - alex.edat}} </p>
    <p>{{alex.edat >= 18 ? 'Major d\' edat' : 'Menor d\' edat'}}</p>
    <p class="cicle"> Cicle: {{alex.cicle}} </p>
</div>

<div class="perfil">
    <h2> Nom i cognom: {{nomComplet}}</h2>
    <p> Inicials: {{inicials}}</p>
    <p> Generació: {{generacio}}</p>
</div>


