<p>perfil works!</p>


<div class="perfil">
    <h2> Nom complert: Alex Alias Ndiaye</h2>
    <p> Edat: -3 </p>
    <p> Llegué al club con el combo, rápido la vi lejos
Se pintaba los labios y la copa como espejo
Se acercó, poco a poco, y yo queriendo que me baile
Luego me dijo: Vamos, que te enseño Buenos Aire'

</p>

</div>


<div class="perfil">
<h2> Nom complert: Ongombo</h2>
    <p> Edat: veintisinco </p>
    <p> Owanitwa mos
Owanitwa mos
Pastor Master KG
Owanitwa mos
Jerusalema ikhaya lami
Ngilondoloze
Uhambe nami
Zungangishiyi lana
Jerusalema ikhaya lami
Ngilondoloze
Uhambe nami
Zungangishiyi lana
</p>


</div>

